{% extends 'base.html' %} {% load static %} {% block page_header %} {% endblock %}
<!--  -->
{% block content %}
<div class="container-fluid service-container bg-white">
  {% if request.get_full_path == "/services/?category=rentals" %}
  <h1 class="text-black text-center display-5 service-header text-uppercase">Rentals</h1>
  {% else %}
  <h1 class="text-black text-center display-5 service-header">Services</h1>
  {% endif %}

  <div class="row justify-content-center">
    {% for service in services %}
    <div class="col-12 col-md-6 col-xl-4 mb-5">
      <div class="card h-100 service-card">
        {% if service.image %}
        <a
          href="{% url 'service_detail' service.id %}"
          class="square-img mx-auto"
          style="background-image: url(https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/{{service.image}});"
        ></a>
        {% else %}
        <a
          href="{% url 'service_detail' service.id %}"
          class="square-img mx-auto"
          style="background-image: url(https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/{{service.image.url}});"
        ></a>
        {% endif %}

        <div class="card-body text-center">
          <a href="{% url 'service_detail' service.id %}" class="text-black service-link"
            ><h5 class="card-title logo-font text-uppercase">{{service.name}}</h5></a
          >
          <p class="card-text">{{service.description}}</p>
          <p class="card-text">${{service.price}}</p>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_service' service.id %}">Edit</a>
          <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
