{% extends 'base.html' %} {% load static %} {% block page_header %} {% endblock %}
<!--  -->
{% block content %}
<div class="container-fluid service-container">
  <h1 class="text-black text-center display-5 mb-5">Services</h1>
  <div class="row row-cols-1 row-cols-md-2">
    {% for service in services %}

    <div class="col mb-4">
      <div class="card h-100">
        <a href="{% url 'service_detail' service.id %}">
          <img src="/media/{{service.image}}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{service.name}}</h5>
          <p class="card-text">{{service.description}}</p>
          <p class="card-text">${{service.price}}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
