{% extends 'base.html' %} {% load static %} {% block page_header %} {% endblock %}
<!--  -->
{% block content %}
<div class="container-fluid service-container">
  <h1 class="text-black text-center display-5 mb-5">Services</h1>
  <div class="row row-cols-1 row-cols-md-2">
    {% for service in services %}

    <div class="col mb-4">
      <div class="card h-100">
        <a href="{% url 'service_detail' service.id %}">
          {% if service.image %}
          <img src="https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/{{service.image}}" alt="" class="card-img-top" />
          {% else %}
          <img src="https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/ski-edge.jpg" alt="" class="card-img-top" />
          {% endif %}
        </a>
        <div class="card-body">
          <h5 class="card-title">{{service.name}}</h5>
          <p class="card-text">{{service.description}}</p>
          <p class="card-text">${{service.price}}</p>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_service' service.id %}">Edit</a>
          <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
