{% extends 'base.html' %} {% load static %} {% block page_header %} {% endblock %}
<!--  -->
{% block content %}
<div class="container-fluid service-container">
  <div class="row service-detail-bg">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="my-md-5">
        {% if service.image %}

        <div
          class="image-container mb-3 mx-auto"
          style="background-image: url(https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/{{service.image}});"
        ></div>
        {% else %}
        <div
          class="image-container mb-3 mx-auto"
          style="background-image: url(https://bluebird-ski-shop.s3-us-west-1.amazonaws.com/media/{{service.image}});"
        ></div>
        {% endif %} {% if request.user.is_superuser %}
        <small class="ml-3">
          <a class="mr-3" href="{% url 'edit_service' service.id %}">Edit</a> <span> | </span>
          <a class="text-danger" href="{% url 'delete_service' service.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 service-detail-info">
      <div class="service-details-container mb-5 mt-md-5">
        <p class="mb-0 logo-font service-detail-title">{{ service.name }}</p>
        <p class="lead mb-0 font-weight-bold">${{ service.price }}</p>
        <p class="mt-3">{{ service.description }}</p>
        <form class="form" action="{% url 'add_to_cart' service.id %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            {% with service.has_sizes as s %} {% if s %}
            <div class="col-12">
              <p class="mb-0"><strong>Boot Size:</strong></p>
              <a
                href="https://www.evo.com/guides/ski-boot-size-chart-mondo-point-conversion"
                class="small muted align-center"
                target="_blank"
                >Ski boot sizing chart</a
              >
              <span class="align-center"> | </span>
              <a
                href="https://www.evo.com/guides/snowboard-boot-size-chart-mondo-conversion"
                class="small muted align-center"
                target="_blank"
                >Snowboard boot sizing chart</a
              >
              <select
                class="form-control rounded-0 mt-2 detail-select"
                name="boot_size"
                id="id_boot_size"
              >
                {% for i in boot_sizes %}
                <option value="{{i}}">{{i}}/{{i}}.5</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12 mt-3">
              <p class="mb-0"><strong>Ski/Snowboard Size:</strong></p>
              <a
                href="https://www.evo.com/guides/how-to-choose-skis-size-chart#size-chart"
                class="small muted align-center"
                target="_blank"
                >Ski sizing chart</a
              >
              <span class="align-center"> | </span>
              <a
                href="https://www.evo.com/guides/how-to-choose-a-snowboard-and-size-chart#size-chart"
                class="small muted align-center"
                target="_blank"
                >Snowboard sizing chart</a
              >
              <select
                class="form-control rounded-0 mt-2 detail-select"
                name="ski_size"
                id="id_ski_size"
              >
                {% for i in ski_sizes %}
                <option value="{{i}}">{{i}}-{{i|add:"9"}}cm</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-12">
              <p class="mt-3"><strong>Quantity:</strong></p>
              <div class="form-group qty_detail">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="decrement-qty btn btn-black rounded-0"
                      data-item_id="{{ service.id }}"
                      id="decrement-qty_{{ service.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                    </button>
                  </div>
                  <input
                    class="form-control qty_input"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    max="99"
                    data-item_id="{{ service.id }}"
                    id="id_qty_{{ service.id }}"
                  />
                  <div class="input-group-append">
                    <button
                      class="increment-qty btn btn-black rounded-0"
                      data-item_id="{{ service.id }}"
                      id="increment-qty_{{ service.id }}"
                    >
                      <span class="icon">
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <a
                href="{% url 'services' %}"
                class="btn btn-outline-black rounded-0 mt-3 keep-shopping-btn"
              >
                <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
              </a>
              <input
                type="submit"
                class="btn btn-black rounded-0 text-uppercase mt-3"
                value="Add to Cart"
              />
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          </div>
          {% endwith %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--  -->
{% block postloadjs %}
<!--  -->
{{ block.super }}
<!--  -->
{% include 'services/includes/quantity_input_script.html' %}
<!--  -->
{% endblock %}
